<html>
<head>
	<title>demo app</title>
</head>
<body>
<h2>demo_app</h2>
<p>
<%= link_to('Users', users_path(User)) %>
</p>
<p>
	<%= link_to('Microposts', microposts_path(Micropost)) %>
</p>
</body>
</html>