// Place all the styles related to the ccsf_rails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

.index {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: #FFCCCC;
}

.links {
	background-color: #CCFFFF;
}

.about {
	background-color: #99FFCC;
}