// Place all the styles related to the ccsf_rails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$background-color: #FFFFFF;
$text-color: #000000;
$link-color: #0000aa;

body { background-color: $background-color; color: $text-color}